/* In HTML file:

<link type="text/css" href="lounge-mobile.css" rel="stylesheet" media="screen and (max-device-width: 480px)">
<link type="text/css" href="lounge-print.css" rel="stylesheet" media="print">

*/

/*
smart phone(480x640): media="screen and (max-dvice-with: 480px)"
tablet-portrait(768x1024): media="screen and (max-dvice-with: 768px) and (orientation: portrait)"
tablet-landscape(1024x768): media="screen and (max-dvice-with: 1024px) and (orientation: landscape)"
PC(1280x960): media="screen and (max-dvice-with: 1280px)"
TV(2650x1600): media="screen and (max-dvice-with: 2650px)"

/* In CSS file: */

@media screen and (min-device-width:481px) {
  #guarantee {
    margin-right: 250px;
  }
}

@media screen and (max-device-width:480px) {
  #guarantee {
    margin-right: 30px;
  }
}
@media print {   /* print version */
  body {
    font-family: Times, "Times New Roman", serif;
  }
}

p.specials {    /* Apply to all pages, as there is no media rule. */
  color: red;
}
