/* Put .css file in the root folder !!! */

/* Ultimate Inheritance: affects everything (h1, h2, blockquote, p, em, a...) */
body { }
  
/* Group Inheritance: affects selected structural elements and their inline functional elements */
h1, h2 { }

/* Structural Elements Inheritance: affects itself and inline functional elements */
h1 { }
h2 { }
p { }

/* Overriding The Inheritance: Inline funtional Elements Specification */
em { }

/* Define classes by writing the class rules (.class name { properties: values; }) */
.class_name {
  property: value;
}

/* Adding the class name into the value of the class attribute HTML struture element */
<p class="class_name"> 






/*

.properties {

  color(font): maroon; gray;
  background-color: red;

  font-size: bigger or smaller
  font-weight: use to make text bold
  font-style: italic; oblique;
  font-family(default font is serif): sans-serif; (default font is serif;)

  border: 1px solid gray;
  border-bottom: 1px solid black;
  line-height: sets the space between lines in a text element
  padding: space between adge of an element and its content.
  letter-spacing: L i k e  t h i s 
  
  top: position of the top of the element
  left: to position its left side
  text-align: left; center; or right;

  list-style: change how list item look in a list.

  background-image: to put an image behind an element.

}

*/
