/* Group Styling */

h1, h2 {}

/* Individual Styling */

h1 {}

h2 {}

p {}




/* List of styling properties & values:

color(font): maroon; gray;
background-color: red;

font-family: sans-serif;

border: 1px solid gray;
border-bottom: 1px solid black;


*/
