/* Put .css file in the root folder !!! */



/* Ultimate Inheritance: affects everything :P (h1, h2, blockquote, p, em, a...) */
body { }
  
/* Group Inheritance: affects selected structural elements and their inline functional elements */
h1, h2 { }

/* Structural Elements Inheritance: affects itself and inline functional elements */
h1 { }
h2 { }
p { }

/* Overriding The Inheritance: Inline funtional Elements Specification */
em { }




/* THE ABOVE RULES ARE NOT RECOMMENDED (BUT MUST KNOW), AS THERE IS MORE SPECIFIC WAY TO 'SELECT INDIVIDUALLY' TO STYLE, WHICH IS TO WRITE: A CLASS SELECTOR (involoves a ".") */


/* STEP 1: Define classes by writing the class rules (.class name { properties: values; }) */
.greentea {
  color: green;
}
.blueberry {
  color: purple;
}
/* OR (but have harder to apply)(more specific) */
p.greentea {
  color: green;
}
blockquote.greentea, p.greentea {
  color: green;
}

/* STEP 2: (adds the class attribute to any HTML element you want to select): to use the classes by placing each class name into the value of the class attribute */
<p class="greentea blueberry"> ... </p>

/* STEP 3: know the logic for browser to determine the specificity of the class selectors. */
- Super specific: p.class_name (located lowest in the CSS file) E.g Top-Green, then-blue, last-purple: The resulted color is purple.
- Most specific: p.class_name(1) p.class_name(2) p.class_name(3)
- Medium specific: .class_name and just use it as attribute value <p class="class_name">
- Least specific: p { properties: values; }




