/*

.properties {

  color(font): maroon; gray;
  background-color: red;

  font-size: bigger or smaller
  font-weight: use to make text bold
  font-style: italic; oblique;
  font-family(default font is serif): sans-serif; (default font is serif;)

  border: 1px solid gray;
  border-bottom: 1px solid black;
  line-height: sets the space between lines in a text element
  padding: space between adge of an element and its content.
  letter-spacing: L i k e  t h i s 
  
  top: position of the top of the element
  left: to position its left side
  text-align: left; center; or right;

  list-style: change how list item look in a list.

  background-image: to put an image behind an element.

}

*/
